.item{
    display: flex;
    margin: 10px 0px
}

.item.reverse{
    flex-direction: row-reverse;
}

.avatar{
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: auto;
    margin-right: 10px;
}

.item.reverse .avatar{
    margin-right: 0px;
    margin-left: 10px;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}